<div class="h1 text-center mt-md-4">お知らせ内容の編集</div>

<div class="container">
    <%= render 'form', notice: @notice %>

    <%= link_to '確認', @notice %> |
    <%= link_to '戻る', notices_path %>
</div>
