<nav class="bg-light">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <%= link_to "事例", dashboard_path, class: "nav-link h3 text-dark" %>
            </li>
            <li class="nav-item">
                <%= link_to "ユーザー", dashboard_path, class: "nav-link h3 text-dark" %>
            </li>
            <li class="nav-item">
                <%= link_to "お知らせ", dashboard_path, class: "nav-link h3 text-dark" %>
            </li>
        </ul>
    </div>
</nav>